{% extends 'base.html'%}

{% block title %} Одежда {% endblock %}

{% block content %}
<div class="info">
    <img src="static/clothes/6850605848.webp" alt="рубашка" width="300">

    <div class="description">
        <h4> Art&Alex</h4>
        <p>
            Стоимость: 2000 руб.
        </p>
        <p>
            Мужская.
        </p>
        <p>
            Материал: Хлопок
        </p>
        <p>
            Состав материала: Хлопок: 97%, Эластан: 3%
        </p>
        <p>
            Стиль: Вечерний, Праздничный, Свадебный
        </p>
        <p>
            Размер: 52
        </p>
        <p>
            Изгтовитель: Германия
        </p>
        <a href="#">Купить</a>
    </div>


</div>
{% endblock %}