{% extends 'base.html'%}

{% block title %} Голвной убор {% endblock %}

{% block content %}
<div class="info">
    <img src="static/hats/6272632354.webp" alt="бейсболка" width="300">

    <div class="description">
        <h4>Бейсболка Upward Movement</h4>
        <p>
            Стоимость: 1000 руб.
        </p>
        <p>
            Для всех.
        </p>
        <p>
            Материал: Хлопок
        </p>
        <p>
            Сезон: Весна-лето
        </p>
        <p>
            Материал наполнителя: Синтепон
        </p>
        <p>
            Размер: универсальный
        </p>
        <p>
            Изгтовитель: Россия
        </p>
        <a href="#">Купить</a>
    </div>

</div>
{% endblock %}