{% extends 'base.html'%}

{% block title %} Обувь {% endblock %}

{% block content %}
<div class="info">
    <img src="static/shoes/6857997743.webp" alt="ботинки" width="300">

    <div class="description">
        <h4>Ботинки BELURSUS</h4>
        <p>
            Стоимость: 5000 руб.
        </p>
        <p>
            Женская.
        </p>
        <p>
            Аудитория: Взрослая.
        </p>
        <p>
            Материал: Резина
        </p>
        <p>
            Сезон: Демисезон
        </p>
        <p>
            Размер: 39
        </p>
        <p>
            Изгтовитель: Россия
        </p>
        <a href="#">Купить</a>
    </div>

</div>

{% endblock %}